
{% extends "layout.html" %}
{% block content %}
{%for post in posts.items%}

<div container>
  <div class="card bg-light" style="width:20rem;">
    <img class="card-img-top" src="{{url_for('static' , filename = 'post_pic/'+ post.image_file)}}" alt="Card image"
      style="width:100%">
    <div class="card-body">
      <h4 class="card-title">{{post.title}}</h4>
      <a href="{{url_for('post' , post_id = post.id)}}" class="btn btn-primary">Details</a>
      <a href="{{url_for('post' , post_id = post.id)}}" class="btn btn-dark">{{post.price}} Rs/hr</a>   
     </div>
  </div>
  <br>
</div>

{% endfor %}

{% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
{% if page_num %}
{% if posts.page==page_num %}
<a class="btn btn-primary" href="{{url_for('home',page=page_num)}}">{{page_num}}</a>
{%else%}
<a class="btn btn-light" href="{{url_for('home',page=page_num)}}">{{page_num}}</a>
{% endif %}
{%else%}
...
{% endif %}
{% endfor %}
{% endblock content %}