<!DOCTYPE html>
<html>

<head>
  <title>Our Company</title>
  <style>
    .button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    .delbutton {
      background-color: #ff3300;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
  </style>
</head>

<body>
  {%for post in posts.items%}

  <div>
    <img src="{{url_for('static' , filename = post.author.image_file)}}">
    <p><a href="{{url_for('post' , post_id = post.id)}}">{{post.title}}</a></p>
    <p>{{post.time_slot}}</p>
    <p>{{post.features}}</p>
    <p>{{post.reg_no}}</p>
    <p>{{post.price}}</p>
  </div>

  {% endfor %}

  {% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
    {% if page_num %}
      {% if posts.page==page_num %}
        <a class="delbutton" href="{{url_for('home',page=page_num)}}">{{page_num}}</a>
      {%else%}
        <a class="button" href="{{url_for('home',page=page_num)}}">{{page_num}}</a>
      {% endif %}
    {%else%}
    ...
    {% endif %}
  {% endfor %}

</body>

</html>