<!DOCTYPE html>
<html>

<head>
    <title>Our Company</title>
    <style>
        .button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        .delbutton {
            background-color: #ff3300;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }
    </style>

</head>

<body>


    <div>
        <img src="{{url_for('static' , filename = post.author.image_file)}}">
        <p>{{post.title}}</p>
        <p>{{post.time_slot}}</p>
        <p>{{post.features}}</p>
        <p>{{post.reg_no}}</p>
        <p>{{post.price}}</p>
        <p>{{post.ratings}}</p>
        <div>
            {% if post.sell%}
                <p>Status : Sell</p>
            {% else %}
                <p>Status : Lend</p>
            {% endif%}
        </div>

        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="container">
                {{form.rating.label}}
                {{form.rating}}
                {{form.submit(class="button")}}
            </div>
        </form>

        <a href="{{url_for('update_post', post_id=post.id)}} " class="button">Update</a>
        <a href="{{url_for('delete_post', post_id=post.id)}} " class="delbutton">Delete</a>
    </div>


</body>

</html>